body {
	background-color: #FAFAFA;
}
/*
p {
	border: 2px solid #f20604;
	background-color: #659874;
	margin: 30px;
}
h1 {
	border: 2px solid #f20604;
	background-color: #659832;
	padding: 30px;
}
#lien_fb {
	font-size: 150%;
}

p.venice{
	font-size: 100px;
}*/
a:link{
	color: #009688;
	text-decoration: underline;
}
a:hover{
	color: #4DB6AC;
}
a:active{
	color: #FF9800;
}
a:visited{
	color: #8BC34A;
}
/*style attribute in img tags is applied*/
img {
	width: 100%;
}
p {
	font-family: roboto;
}
table {
	margin: 50px;
	font-family: roboto;
	width: 500px;
	border-collapse: collapse;
}
tr:nth-child(odd) {
	background-color: #009688;
	color: #ffffff;
}
tr:nth-child(even) {
	background-color: #E0F2F1;
	color: #000000;
}
td {
	border: 1px solid;
	border-color: #009688;
	padding: 8px;
}
th {
	padding: 10px;
	border: 1px solid;
	border-color: #009688;
}